

<h1>Hi, <%= @user.username.upcase %>. You have <%= @user.projects.count %> project[s]!</h1>

<% counter = 0 %>

<% @user.projects.each do |project| %>
    <div class="individual-project">
    <ul>
        <li><strong>Project Title: <%= project.title %></strong></li>
        <li>Description: <%= project.description %></li>
        <li>Estimated Cost: $<%= project.cost.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></li>
    </ul>
    <form action="/projects/<%= project.id %>/edit" method="GET">
    <input class="button" type="submit" value="Edit Project">
    </form>
   
    <form action="/projects/<%= project.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input class="button" type="submit" value="Delete Project">
    </form>

    </div>
    <br>

    <% counter += project.cost %>
<% end %>

<!-- gsub to insert comma into numbers above 999 -->
<h3>Total Cost: $<%= counter.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></h3>

<a href="/projects/new">Create New Project</a> <a href="/users/<%= @user.id %>/edit">Update Account</a>

    

