
<h1>Hi, <%= @user.username.upcase %>. Here are your projects. :)</h1>

<% counter = 0 %>
<% @user.projects.each do |project| %>
    <ul>
        <li><strong>Project Title: <%= project.title %></strong></li>
        <li>Description: <%= project.description %></li>
        <li>Estimated Cost: $<%= project.cost %></li>
    </ul>
    <form action="/projects/<%= project.id %>/edit" method="GET">
    <input type="submit" value="Edit Project">
    </form><br>

    <% counter += project.cost %>
<% end %>

<h3>Total Cost: $<%= counter %></h3>

<h3>Create a <a href="/projects/new">new project</a>.</h3>

    

