<% if @success_message %>
  <div id="success" style="display: inline-block; background-color: rosybrown; border: 1px solid black; border-radius: 5px; padding: 5px; margin-top: 10px; margin-bottom: 10px;">
  <%= @success_message %>
  </div>
<% end %>
<% if @update_message %>
  <div id="success" style="display: inline-block; background-color: rosybrown; border: 1px solid black; border-radius: 5px; padding: 5px; margin-top: 10px; margin-bottom: 10px;">
  <%= @update_message %>
  </div>
<% end %>

<h1>Hi, <%= @user.username.upcase %>. You have <%= @user.projects.count %> project[s]!</h1>

<% counter = 0 %>

<% @user.projects.each do |project| %>
    <div class="individual-project">
    <ul>
        <li><strong>Project Title: <%= project.title %></strong></li>
        <li>Description: <%= project.description %></li>
        <li>Estimated Cost: $<%= project.cost.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></li>
    </ul>
    <form action="/projects/<%= project.id %>/edit" method="GET">
    <input class="button" type="submit" value="Edit Project">
    </form>
    </div>
    <br>

    <% counter += project.cost %>
<% end %>

<!-- gsub to insert comma into numbers above 999 -->
<h3>Total Cost: $<%= counter.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %></h3>

<a href="/projects/new">Create New Project</a>

    

